#topPicks {
    background-color: #e9ecef;
    margin-top: 5%;
 
    
}


#weatherFore {
    display: none;
}

.descCell {
    height: 75px;
}

#city-4sq {
    font-size: 40px;
}

.fa-heart{
    display: inline-block;
    cursor: pointer;
    display: none;
}

#header {
    margin: auto;
    display: inline-flex;
}

#slogan {
    text-align: center;
}